body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}

/* Header */

.logo {
    color: var(--accent-color);
}

.header-logo {
    color: var(--logo-black-color);
}

/* Site nav */

.header-list .header-item {
    color: var(--primary-text-color);
}

.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--accent-color);
}

.header-contacts .link {
    color: var(--secondary-text-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--sub-accent-color);
}

.hero-title {
    color: var(--primary-white-color);
}

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: transparent;
    border-radius: 4px;
}

/* Skills */

.section-title {
    color: var(--primary-text-color);
}

.title-description {
    color: var(--secondary-text-color)
}

/* Activity */



/* Footer */
.footer {
    background-color: var(--sub-accent-color);
}

.footer-logo {
    color: var(--primary-white-color);
}

.addres {
    color: var(--primary-white-color);
}